<!DOCTYPE html>
<html>
    
    <head></head>
    
    <body>
        <section class="module">
            <header class="top-bar">
                <div class="left">
                    <span class="icon typicons-message"></span>
                    <h1>Group Chat</h1>
                </div>
                <div class="right">
                    <span class="icon typicons-minus"></span>
                    <span class="icon typicons-times"></span>
                </div>
            </header>
            <ol class="discussion">
                <li class="other">
                    <div class="avatar">
                        <img src="../images/avatars/characters_4.png">
                    </div>
                    <div class="messages">
                        <p>yeah, they do early flights cause they connect with big airports. they
                            wanna get u to your connection</p>
                        <time datetime="2009-11-13T20:00">Timothy • 51 min</time>
                    </div>
                </li>
                <li class="self">
                    <div class="avatar">
                        <img src="../images/avatars/characters_14.png">
                    </div>
                    <div class="messages">
                        <p>That makes sense.</p>
                        <p>It's a pretty small airport.</p>
                        <time datetime="2009-11-13T20:14">37 mins</time>
                    </div>
                </li>
                <li class="other">
                    <div class="avatar">
                        <img src="../images/avatars/characters_4.png">
                    </div>
                    <div class="messages">
                        <p>that mongodb thing looks good, huh?</p>
                        <p>tiny master db, and huge document store</p>
                    </div>
                </li>
            </ol>
        </section>
        <section class="peerlist module">
            <ol class="peers">
                <li class="peer">
                    <div class="avatar">
                        <img src="../images/avatars/characters_4.png">
                    </div>
                    <div>
                        <p>My Nickname</p>
                    </div>
                </li>
                <li class="peer">
                    <div class="avatar">
                        <img src="../images/avatars/characters_14.png">
                    </div>
                    <div>
                        <p>Funny Name</p>
                    </div>
                </li>
            </ol>
        </section>
    </body>

</html>