   <div class="section animated fadeInUp">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            Enter you personal information
                            <br>
                        </h3>
                    </div>
                    <div class="panel-body">
                        <div class="section">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-4 col-xs-4">
                                        <div class="col-md-6">
                                            <label class="control-label">Profile Picture</label>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="togglebutton">
                                                <label>
                                                    Public
                                                    <input tabindex="-1" type="checkbox" for="profileImage" toggletype="public">
                                                </label>
                                            </div>
                                        </div>
                                        <div for="profileImage" class="square" style="background-image: url({{photo}});">

                                        </div>
                                        <p></p>
                                        <div class="form-group">
                                            <div class="col-sm-3">
                                                <input id="profileImageUpload" type="file">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-8 col-xs-8">
                                        <form class="form-horizontal" role="form">
                                            <div class="form-group">
                                                <div class="col-sm-2">
                                                    <label for="inputName" class="control-label">
                                                        Name
                                                        <br>
                                                    </label>
                                                </div>
                                                <div class="col-sm-6">
                                                    <input for="name" type="text" class="form-control input-lg" id="inputName" placeholder="Enter your name here." value="{{name}}">
                                                </div>
                                                <div class="col-sm-2">
                                                    <div class="togglebutton">
                                                        <label>
                                                            Public
                                                            <input tabindex="-1" type="checkbox" for="name" toggletype="public">
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-sm-2">
                                                    <label for="inputNickname" class="control-label">Nickname</label>
                                                </div>
                                                <div class="col-sm-6">
                                                    <input for="nickname" type="text" class="form-control input-lg" id="inputNickname" placeholder="Enter your nickname here" value="{{nickname}}">
                                                </div>
                                                <div class="col-sm-2">
                                                    <div class="togglebutton">
                                                        <label>
                                                            Public
                                                            <input tabindex="-1" type="checkbox" for="nickname" toggletype="public">
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-sm-2">
                                                    <label for="inputSocial" class="control-label">
                                                        Twitter&nbsp;
                                                        <br>
                                                    </label>
                                                </div>
                                                <div class="col-sm-6">
                                                    <input for="social" type="text" class="form-control input-lg" id="inputSocial" placeholder="What is your twitter handle" value="{{social}}">
                                                </div>
                                                <div class="col-sm-2">
                                                    <div class="togglebutton">
                                                        <label>
                                                            Public
                                                            <input tabindex="-1" type="checkbox" for="social" toggletype="public">
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-sm-2">
                                                    <label for="inputBio" class="control-label">
                                                        Bio
                                                        <br>
                                                    </label>
                                                </div>
                                                <div class="col-sm-6">
                                                    <!--<input for="bio" type="text" class="form-control input-lg" id="inputBio" placeholder="Something about yourself">-->
                                                    <textarea for="bio" class="form-control" rows="3" id="inputBio">{{bio}}</textarea>
                                                </div>
                                                <div class="col-sm-2">
                                                    <div class="togglebutton">
                                                        <label>
                                                            Public
                                                            <input tabindex="-1" type="checkbox" for="bio" toggletype="public">
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-sm-offset-2 col-sm-10"></div>
                                            </div>
                                        </form>
                                        <button class="pull-right profileSaveButton btn btn-primary btn-flat">
                                            <i class="mdi-navigation-check"></i>
                                            <span>Click to Save Profile</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer"></div>
                </div>
            </div>
        </div>
    </div>
</div>
