html, body {
	height: 100%;
}

body {
	background-color:#ffffff;
      overflow-x: hidden;
}

#wrap {
        min-height: 100%;
        height: auto !important;
        height: 100%;
        /* Negative indent footer by it's height */
        /*margin: 0 auto -170px;*/
      }

      /* Set the fixed height of the footer here */
      #push,
      #footer {
        height: 60px;
      }
      #footer {
        background-color: #f5f5f5;
      }

      /* Lastly, apply responsive CSS fixes as necessary */
      @media (max-width: 767px) {
        #footer {
          margin-left: -20px;
          margin-right: -20px;
          padding-left: 20px;
          padding-right: 20px;
        }
      }

iframe {
    overflow: auto;
    margin: 0;
    padding: 0;
    border: none;
    width: 100%;
}

.canvas:after {
  content: "";
  /*background: url(../images/svg/btc.svg);*/
  opacity: 0.04;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
  background-size: cover;
}

.panel {
    background-color: rgba(255,255,255,0.5) !important;
}

.page-header {
  top: -10px !important;
  position: absolute !important;
  left: 100px !important;
}
.navbar-toggle {
    z-index: 1;
}

.badge.alert-danger {
    position: absolute;
    left: 20px;
    top: -10px
}

.logo {
  background-image: url(../images/SVG/RBR.svg);
  left: 0;
  height: 55px;
  background-size: 55px 55px;
  background-repeat: no-repeat;
  opacity: 0.4;
}

.coin-sellect {
    top: -40px;
}

.coinPicker {
    margin-top: 2px;
    margin-bottom: 5px;
    margin-left: 2px;
}

.coinSelect {
    margin-bottom: 5px;
    margin-left: 1px;
}

.coin-menu {
    margin-bottom: 5px;
   /* margin-left: 2px;*/
    position: absolute;
    width: 300px !important;
    background-color: #009688;
    z-index: 50;
}

.logo:hover {
  
  /*background-image: url(../images/SVG/ribbit-transparent.svg);*/
  left: 0;
  height: 55px;
  /*background-size: 55px 55px;*/
  background-repeat: no-repeat;
  opacity: 1;
}

.btn.dropdown-toggle {
    width: 0; 
}

#header .navbar-right {
    z-index: 2;
    visibility: collapse;
}

.canvas {
    padding-top: 0 !important;
}

.circular {
	width: 200px;
	height: 200px;
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
     background-size: cover;
     top: 20px;
     position: relative;
}

.square {
    width: 222px;
    height: 165px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    top: -21px;
    left: -7px;
    position: relative;
}

.wallet-address-picker-balance {
    position: absolute;
    left: 450px;
    top: 80px;
}

.form-control  {
    width: 250px !important;    
}

input[type=file] {
      top: 15px;
  position: absolute;
}

.chatlist {
    width: 230px;
    position: relative;
    left: -35px;
}

.chatlist .row {
    margin-top: 5px;
}

.hometabs .fa {
    padding-bottom: 0 !important;
}

.menu-item-sm .square {
    left: -100px !important;
    top: -60px !important;
}

.circular img {
	opacity: 0;
	filter: alpha(opacity=0);
	}

.container {
    margin-left: 0 !important;
    width: auto !important;
}

.page-header {
    width: auto !important;
    text-align: center !important;
    margin-top: 0 !important;
}

.page-header h1 {
    color: #868d99;
    font-weight: bolder !important;
    /*font-size: 4.2vw !important;*/
}

.header-profile {
      margin-top: 19px;
}

.hometabs {
    background-color: transparent;
}

.hometabs .active, .hometabs .active a  {
    background-color: #009688;
    color: white !important;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

/* Chat Box */
#chatwindow{
    position:relative;
    height:400px;
}
#messagewindow, #inputcontainer{
    position:absolute;
    left:0;
    right:0;
    border:1px solid #000;
}
#messagewindow{   
    overflow:auto;
    top:0;
    bottom:3em;
}
#inputcontainer{
    display:block;
    bottom:0;
    height:1em;
    padding:.5em;
    margin-top:1em;
}

#inputcontainer > p{
    margin:0;
}

#messagewindow.users {
    width: 250px;
}

#messagewindow.msgs {
      margin-left: 260px;
      margin-right: 65px;
}

#chatInput {
  display: block;
  bottom: -10px;
  padding: .5em;
  margin-top: 1em;
  position: absolute;
  left: 0;
  right: 0;
  border: 1px solid #000;
  margin-right: 65px;
}

/* Chat Box */
sup {
  top: -0.5em;
  color:red;
}

/* Screensize tweaks */
@media (min-width: 770px) {
    #header .navbar-right {
        visibility: visible;
    }
}




